!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title ReviewersPrototype
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if engineer_signed_in?
      = render 'engineers_navbar'
    - elsif company_signed_in?
      = render 'companies_navbar'
    - else
      = render 'navbar'
    = yield
